.appWrapper {
    margin: 0 auto;
    width: 1200px;
}

.darkTheme {
    background-color: dimgray;
    color: azure;
}

.brightTheme {
    background-color: #000cff;
    color: #ff0063 ;
}

.nav {
    padding: 10px;
}

.appWrapperContent {

}

.loader {
    margin: 50%;
}