.appWrapper {
    display: grid;
    margin: 0 auto;
    width: 1200px;
    grid-template-areas: "n c";
    grid-template-columns: 2fr 10fr;
}

.nav {
    grid-area: n;
    padding: 20px;
    border: 2px solid #8fff74;
}

.appWrapperContent {
    grid-area: c;
}

.loader {
    margin: 50%;
}