.appWrapper {
    margin: 0 auto;
    width: 1200px;
}
.Light {

}

.Dark {
    background-color: dimgray;
    color: azure;
}

.Bright {
    background-color: #000cff;
    color: #ff0063 ;
}

.nav {
    padding: 10px;
}

.appWrapperContent {

}

.loader {
    margin: 50%;
}